.new-password-page {
  display: grid;
  grid-template-columns: 1.3fr 1fr;
  justify-content: center;
  align-items: center;

  gap: 50px;
  height: 100vh;
}

.motto.no-bg {
  background-image: none;
}

@media (max-width: 768px) {
  .new-password-page,
  .login-page {
    grid-template-columns: 1fr;
    gap: 100px;
  }

  .logo-login img {
    padding: 10px;
  }

  .credentials {
    max-width: none;
    grid-row: 1;
  }

  .brief-intro.motto {
    max-width: none;
    height: 50vh;
    margin: 0;
  }

  .contact {
    width: 80%;
    padding: 20px;
  }
}
