.new-password-page {
  display: grid;
  grid-template-columns: 1.3fr 1fr;
  justify-content: center;
  align-items: center;

  gap: 50px;
  height: 100vh;
}

.motto.no-bg {
  background-image: none;
}
