.dashboard {
  display: flex;
  flex-direction: column;

  gap: 60px;
}

/* BODY (home tab)*/
.content {
  margin-top: var(--header-height);

  padding: 20px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 70px;
}

.roadmap-progress {
  display: flex;
  flex-direction: column;
  gap: 15px;

  flex: 1;
}

.roadmap-progress section {
  display: flex;
  justify-content: space-between;
}

.news-in-a-view {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.news-overview {
  display: flex;
  /* height: 350px; */
  gap: 20px;

  /* min-width: 750px; */

  justify-content: center;
  align-items: start;

  background-color: var(--color-primary);

  padding: 20px 10px;
}

.news-overview div {
  display: flex;
  flex-direction: column;
  gap: 20px;

  font-size: 14px;
  font-weight: 400;
  color: #fff;
}

.news-overview img {
  /* width: 280px; */
  width: 100%;
  height: 200px;
}

.news-text {
  position: relative;
}

.news-text button {
  position: absolute;
  bottom: -10px;
  right: 10px;

  border: none;
  background: none;
  color: #fff;

  font-size: 16px;
  font-weight: 900;
}

.tabs span.selected {
  font-variation-settings: "FILL" 1;
  color: black;
}

.tabs span.selected:hover {
  font-variation-settings: "FILL" 1;
}
