/* HEADER STYLE */

.header {
  background-color: var(--color-primary);

  height: var(--header-height);

  display: flex;
  align-items: center;

  position: relative;

  /* gap: 100px; */
}

.header img {
  width: var(--logo-width-small);
}

.search {
  display: flex;
  align-items: center;
  gap: 10px;

  position: absolute;
  left: 5%;
  /* top: 20px; */
}

.search-bar {
  display: flex;
  align-items: center;

  position: relative;
}

.search-bar input {
  font-size: 16px;
  padding: 8px 15px;

  border: 2px;
  font-family: inherit;

  border-radius: 20px;

  transition: all 0.1s;
}

.search-bar input:focus {
  outline: none;
  border: 3px solid var(--color-secondary);
}

.search-bar span {
  position: absolute;
  right: 5px;
  cursor: pointer;
  color: var(--color-primary);
}

.search-bar span:hover {
  font-variation-settings: "GRAD" 500;
}

.tabs {
  display: flex;
  align-items: center;

  flex-shrink: 0;

  gap: 5px;
  position: absolute;
  right: 5%;
}

.tabs > span {
  font-size: 35px;
  color: #fff;
  transition: all 0.3s;
  cursor: pointer;

  position: relative;
}

.tabs > span .tooltip {
  font-family: Inter;
  font-size: 13px;
  position: absolute;
  background-color: var(--color-secondary);
  color: white;
  padding: 5px 10px;
  bottom: -28px;
  left: -60%;
  white-space: nowrap;
  border-radius: 3px;

  opacity: 0;

  z-index: 1;

  /* disables opacity when hovering
  over tooltip itself */
  pointer-events: none;
  transition: all 0.2s;
}

/* HOVERS */

.tabs > span:hover {
  font-variation-settings: "GRAD" 500;

  color: #000;
}

.tabs > span:hover .tooltip {
  opacity: 0.8;
}

/* END OF HEADER STYLE */
