* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* background: black; */
}

button {
  cursor: pointer;
  transition: all 0.2s;
}

/* declaring default values */
:root {
  --gap: 30px;
  --color-primary: #3bd858;
  --color-secondary: #258c38;
  --logo-width: 150px;
}

body {
  font-family: Inter, Arial;
  font-size: 18px;
}
